bin/
applet/src/openpgpcard/javacard/
applet/.classpath
applet/.project
applet/.jcop
applet/.jcproject
applet/.settings/
util/*.pyc
ykneo-openpgp-*.cap
ykneo-openpgp-*.cap.sig
ykneo-openpgp-*.tar.gz
ykneo-openpgp-*.tar.gz.sig
test/.classpath
test/.project
